In [1]:
10+15

25

In [3]:
print("Hello World")

Hello World

In [4]:
45 - 34

11

In [5]:
8*2

16

In [6]:
print("Rahul's age is", 45)

Rahul's age is 45

In [8]:
print("I have", 10, "mangoes and", 12, "banana")

I have 10 mangoes and 12 banana

Q 7

In [10]:
emp_number = 1233
print("Employee Number:", emp_number)
emp_salary = 16745.50
emp_name = "Jerry Squaris"
print("Employee Salary and Name:", emp_salary, emp_name)
emp_salary = 23450.34
print("Updated Employee Salary:", emp_salary)

Employee Number: 1233
Employee Salary and Name: 16745.5 Jerry Squaris
Updated Employee Salary: 23450.34

Q 8

In [11]:
customer_id = 101
type(customer_id)
customer_name = "John"
type(customer_name)
bill_amount = 675.45
type(bill_amount )
x = 5.3 + 0.9j
type(x)
print(customer_id, customer_name, bill_amount)
print(x.real)
print(x.imag + 3)
Flag = True
type(Flag)
y = "False"

101 John 675.45
5.3
3.9

Q 9

In [22]:
bill_id = int(input("Enter bill id "))
customer_id = int(input("Enter customer id "))
customer_name = input("Enter customer name ")
Age = int(input("Enter age "))
bill_amount = float(input("Enter total amount "))
if Age<18:
    if_minor = True
else:
    if_minor = False
print()
print("\nCustomer Details:")
print("bill_id: ",bill_id)
print("customer_id: ",customer_id)
print("customer_name: ",customer_name)
print("if_minor: ",if_minor)
print("bill_amount: ",bill_amount)

Enter bill id 101
Enter customer id 1001
Enter customer name Rahul
Enter age 45
Enter total amount 2000.50


Customer Details:
bill_id:  101
customer_id:  1001
customer_name:  Rahul
if_minor:  False
bill_amount:  2000.5

Q 10

In [18]:
num1 = int(input("Enter number 1 "))
num2 = int(input("Enter number 2 "))
num1 = num1+4
num2 = num2+6
sum_n = num1+num2
print("Sum of 2 numbers is", sum_n)

Enter number 1 56
Enter number 2 8
Sum of 2 numbers is 74

Q 11

In [17]:
a = 4
b = 5
print("Old values: ",a,b)
a,b = b,a
print("New values: ",a,b)

Old values:  4 5
New values:  5 4

Q 12

In [23]:
Sub1 = 85
Sub2 = 91
Sub3 = 74
avg = (Sub1+Sub2+Sub3)/3
print("Average is:",avg)
Sub3 = 65
avg = (Sub1+Sub2+Sub3)/3
print("Updated Average:",avg)

Average is: 83.33333333333333
Updated Average: 80.33333333333333

Q 13

In [31]:
pi = 3.14
radius = float(input("Enter radius "))
area = pi*radius**2
perimeter = 2*pi*radius
print("Area is", area, "and Perimeter is", perimeter)

Enter radius 4.2
Area is 55.3896 and Perimeter is 26.376

Q 14

In [30]:
Hrs_per_Week = 40
PayRate = 400
Week_per_month = 4
Monthly_pay = Hrs_per_Week * PayRate * Week_per_month
print("Monthly pay is", Monthly_pay)

Monthly pay is 64000

Q 15a

In [35]:
for i in range(50,81):
    if(i%2==0):
        print(i, end=" ")

50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80

Q 15b

In [17]:
num = int(input("Enter num: "))
if(num <= 0):
    print("Enter valid num")
else:
    sum = 0
    i=0
    while(i<=num):
        sum = sum + i
        i = i+1
    print("Sum of natural numbers upto", num,"is", sum)

Enter num: 8
Sum of natural numbers upto 8 is 36

Q 15c

In [16]:
num = int(input("Enter a number "))
if num>1:
    for i in range(2,num):
        if((num%i) == 0):
            print("Not a prime number")
            break
        else:
            print("Prime number")
            break
else:
    print("Not a prime number")

Enter a number 8
Not a prime num

Q 15d

In [12]:
num = int(input("Enter a number "))
num1 , num2 = 0,1
count = 0 
if num <= 0:
    print("Invalid number")
elif num == 1:
    print("Fibonacci series upto", num, "is",num1)
else:
    print("Fibonacci series upto", num, "is")
    while count<num:
        print(num1, end=" ")
        temp = num1+num2
        num1 = num2
        num2 = temp
        count = count+1

Enter a number 8
Fibonacci series upto 8 is
0 1 1 2 3 5 8 13