In [27]:
import pandas as pd
import numpy as np

Read the Colleges dataset and clean all the attributes.

In [28]:
df = pd.read_csv("Top 100 Private Colleges.2003.csv")
df.head()

,Overall Rank,School,State,Undergrad. Enrollment,Admission Rate,*SAT or ACT,Student/faculty Ratio,4-year Grad. Rate,6-year Grad. Rate,Quality Rank,Total Costs,Cost After Need-based Aid,Need Met,Aid From Grants,Cost After Non-Need-Based Aid,Non-Need-Based Aid+,Average Debt,Cost Rank
0,1.0,California Institute of Technology,CA,939.0,21%,99/100%,3.0,71%,85%,10.0,"$32,682","$10,981",100%,93%,"$18,553",15%,"$10,244",4.0
1,2.0,Rice University,TX,2787.0,24%,89/92%,5.0,68%,89%,19.0,"$28,350","$14,779",100%,88%,"$22,418",34%,"$12,705",5.0
2,3.0,Williams College,MA,1985.0,23%,93/93%,8.0,89%,94%,1.0,"$36,550","$14,737",100%,89%,"$33,251",NaN,"$12,316",26.0
3,4.0,Swarthmore College,PA,1479.0,24%,94/98%,8.0,86%,92%,4.0,"$38,676","$17,386",100%,85%,"$11,404",2%,"$12,759",21.0
4,5.0,Amherst College,MA,1618.0,18%,94/92%,9.0,84%,94%,5.0,"$38,492","$14,453",100%,92%,"$33,411",NaN,"$11,544",38.0

In [29]:
df.drop([100,101])
df.drop(['Non-Need-Based Aid+'], axis=1, inplace=True)
df.set_index('Overall Rank', inplace = True)
df.head()

,School,State,Undergrad. Enrollment,Admission Rate,*SAT or ACT,Student/faculty Ratio,4-year Grad. Rate,6-year Grad. Rate,Quality Rank,Total Costs,Cost After Need-based Aid,Need Met,Aid From Grants,Cost After Non-Need-Based Aid,Average Debt,Cost Rank
Overall Rank,,,,,,,,,,,,,,,,
1.0,California Institute of Technology,CA,939.0,21%,99/100%,3.0,71%,85%,10.0,"$32,682","$10,981",100%,93%,"$18,553","$10,244",4.0
2.0,Rice University,TX,2787.0,24%,89/92%,5.0,68%,89%,19.0,"$28,350","$14,779",100%,88%,"$22,418","$12,705",5.0
3.0,Williams College,MA,1985.0,23%,93/93%,8.0,89%,94%,1.0,"$36,550","$14,737",100%,89%,"$33,251","$12,316",26.0
4.0,Swarthmore College,PA,1479.0,24%,94/98%,8.0,86%,92%,4.0,"$38,676","$17,386",100%,85%,"$11,404","$12,759",21.0
5.0,Amherst College,MA,1618.0,18%,94/92%,9.0,84%,94%,5.0,"$38,492","$14,453",100%,92%,"$33,411","$11,544",38.0

From all marks based attributes, remove % sign from different attributes. In SAT/ACT, Keep higher value.

In [30]:
df['*SAT or ACT'].head()

Overall Rank
1.0    99/100%
2.0     89/92%
3.0     93/93%
4.0     94/98%
5.0     94/92%
Name: *SAT or ACT, dtype: object

In [31]:
percent = '%'
star = '*'

def clean_percent(item):
    dop= str(item.loc['*SAT or ACT'])
    
    if dop == 'nan':
        return np.NaN
    
    if percent in dop:
        percent_index = dop.find(percent)
        dop = dop[:percent_index]
    
    if star in dop:
        while(star in dop):
            star_index = dop.find(star)
            dop = dop[:star_index] + dop[star_index + 1:]
    
    return dop

df['*SAT or ACT'] = df.apply(clean_percent, axis = 1)
df['*SAT or ACT'].head()

Overall Rank
1.0    99/100
2.0     89/92
3.0     93/93
4.0     94/98
5.0     94/92
Name: *SAT or ACT, dtype: object

In [32]:
def remove_lower(item):
    dop= str(item.loc['*SAT or ACT'])
    
    if dop == 'nan':
        return np.NaN
    
    divide_index = dop.find('/')
    if dop[:divide_index] > dop[divide_index+1:]:
        dop = dop[:divide_index]
    else:
        dop = dop[divide_index+1:]
    
    return dop

df['*SAT or ACT'] = df.apply(remove_lower, axis = 1)
df['*SAT or ACT'].head()

Overall Rank
1.0    99
2.0    92
3.0    93
4.0    98
5.0    94
Name: *SAT or ACT, dtype: object

From all cost based attributes, Remove $ sign and commas.

In [33]:
dollar = '$'
comma = ','

def clean_costs(item):
    dop= str(item.loc['Total Costs'])
    
    if dop == 'nan':
        return np.NaN
    
    dop = dop[1:]
    
    if comma in dop:
        comma_index = dop.find(comma)
        dop = dop[:comma_index] + dop[comma_index + 1:]
    
    return dop

df['Total Costs'] = df.apply(clean_costs, axis = 1)
df['Total Costs'].head()

Overall Rank
1.0    32682
2.0    28350
3.0    36550
4.0    38676
5.0    38492
Name: Total Costs, dtype: object

In [34]:
dollar = '$'
comma = ','

def clean_costs(item):
    dop= str(item.loc['Cost After Need-based Aid'])
    
    if dop == 'nan':
        return np.NaN
    
    dop = dop[1:]
    
    if comma in dop:
        comma_index = dop.find(comma)
        dop = dop[:comma_index] + dop[comma_index + 1:]
    
    return dop

df['Cost After Need-based Aid'] = df.apply(clean_costs, axis = 1)
df['Cost After Need-based Aid'].head()

Overall Rank
1.0    10981
2.0    14779
3.0    14737
4.0    17386
5.0    14453
Name: Cost After Need-based Aid, dtype: object

In [22]:
dollar = '$'
comma = ','

def clean_costs(item):
    dop= str(item.loc['Cost After Non-Need-Based Aid'])
    
    if dop == 'nan':
        return np.NaN
    
    dop = dop[1:]
    
    if comma in dop:
        comma_index = dop.find(comma)
        dop = dop[:comma_index] + dop[comma_index + 1:]
    
    return dop

df['Cost After Non-Need-Based Aid'] = df.apply(clean_costs, axis = 1)

In [23]:
dollar = '$'
comma = ','

def clean_costs(item):
    dop= str(item.loc['Average Debt'])
    
    if dop == 'nan':
        return np.NaN
    
    dop = dop[1:]
    
    if comma in dop:
        comma_index = dop.find(comma)
        dop = dop[:comma_index] + dop[comma_index + 1:]
    
    return dop

df['Average Debt'] = df.apply(clean_costs, axis = 1)

In [24]:
df.head()

,School,State,Undergrad. Enrollment,Admission Rate,*SAT or ACT,Student/faculty Ratio,4-year Grad. Rate,6-year Grad. Rate,Quality Rank,Total Costs,Cost After Need-based Aid,Need Met,Aid From Grants,Cost After Non-Need-Based Aid,Average Debt,Cost Rank
Overall Rank,,,,,,,,,,,,,,,,
1.0,California Institute of Technology,CA,939.0,21%,99,3.0,71%,85%,10.0,32682,10981,100%,93%,18553,10244,4.0
2.0,Rice University,TX,2787.0,24%,92,5.0,68%,89%,19.0,28350,14779,100%,88%,22418,12705,5.0
3.0,Williams College,MA,1985.0,23%,93,8.0,89%,94%,1.0,36550,14737,100%,89%,33251,12316,26.0
4.0,Swarthmore College,PA,1479.0,24%,98,8.0,86%,92%,4.0,38676,17386,100%,85%,11404,12759,21.0
5.0,Amherst College,MA,1618.0,18%,94,9.0,84%,94%,5.0,38492,14453,100%,92%,33411,11544,38.0

Remove any null value in any attribute.

In [36]:
df.dropna(how = 'all', inplace = True)
df.head()

,School,State,Undergrad. Enrollment,Admission Rate,*SAT or ACT,Student/faculty Ratio,4-year Grad. Rate,6-year Grad. Rate,Quality Rank,Total Costs,Cost After Need-based Aid,Need Met,Aid From Grants,Cost After Non-Need-Based Aid,Average Debt,Cost Rank
Overall Rank,,,,,,,,,,,,,,,,
1.0,California Institute of Technology,CA,939.0,21%,99,3.0,71%,85%,10.0,32682,10981,100%,93%,"$18,553","$10,244",4.0
2.0,Rice University,TX,2787.0,24%,92,5.0,68%,89%,19.0,28350,14779,100%,88%,"$22,418","$12,705",5.0
3.0,Williams College,MA,1985.0,23%,93,8.0,89%,94%,1.0,36550,14737,100%,89%,"$33,251","$12,316",26.0
4.0,Swarthmore College,PA,1479.0,24%,98,8.0,86%,92%,4.0,38676,17386,100%,85%,"$11,404","$12,759",21.0
5.0,Amherst College,MA,1618.0,18%,94,9.0,84%,94%,5.0,38492,14453,100%,92%,"$33,411","$11,544",38.0